%h1 カート

%p
  合計金額：
  = current_user.cart_total_amount

%table.table
  %thead
    %tr
      %th 商品名
      %th 個数
      %th 金額
      %th

  %tbody
    - current_user.cart_items.each do |item|
      %tr
        - product = item.product
        %td= product.name
        %td= item.quantity
        %td= item.product.price * item.quantity
        %td
          .row
            = button_to "+", add_cart_product_path(product), class: "btn btn-primary"
            = button_to "-", remove_cart_product_path(product), class: "btn btn-primary ml-1"

= link_to "購入する", new_order_path, class: "btn btn-primary"
