.row
  %h2.title= @product.name

.row
  .col-md-6
    .shadow-sm.rounded.bg-white.p-2
      - if @product.image_url.presence
        = image_tag @product.image_url
      - else
        %p イメージはありません

  .col-md-6
    .shadow-sm.rounded.bg-white.p-2
      %p= @product.description
      %p
        = @product.price
        円

      = button_to 'カートに入れる', add_cart_items_path, class: "btn btn-primary", |
        params: { product_id: @product.id }, remote: true
