%h1 購入

.row
  .col-md-6
    = simple_form_for @order do |f|
      - if f.error_notification.presence
        = f.error_notification

      = render 'users/shared/form_delivery', form: f

      = f.input :delivery_date, hint: '今日を起点に、3営業日（営業日: 月-金）から14営業日まで'
      = f.input :delivery_time

      = f.button :submit, "購入を確定する", class: "btn btn-primary"

  - @order.fill_billing_amount

  .col-md-6
    %table.table
      %thead
        %tr
          %th 商品名
          %th 個数
          %th 単価
          %th 金額

      %tbody
        - @order.order_items.each do |item|
          %tr
            %td= item.product.name
            %td= item.quantity
            %td= item.price
            %td{align:"right"}= item.amount

        %tr
          %td{colspan: 3} 送料
          %td{align:"right"}=@order.postage
        %tr
          %td{colspan: 3} 代引き手数料
          %td{align:"right"}=@order.cod_charge
        %tr
          %td{colspan: 3} 税
          %td{align:"right"}=@order.tax
        %tr.font-weight-bold
          %td{colspan: 3} 総金額
          %td{align:"right"}= @order.total_amount
