%h1 商品一覧

%table.table
  %thead
    %tr
      %th= Product.human_attribute_name(:name)
      %th= Product.human_attribute_name(:price)
      %th 非表示
      %th

  %tbody
    - @products.each do |product|
      %tr
        %td
          = link_to product.name, [:admin, product]
        %td
          = number_to_currency product.price
        %td
          - if product.hid_at.presence
            = time_ago_in_words product.hid_at
            前
        %td
          = link_to '変更', edit_admin_product_path(product), class: "btn btn-secondary"
          = link_to '削除', [:admin, product], method: :delete,
            data: { confirm: "本当に削除しますか？" }, class: "btn btn-secondary"
          = link_to '一つ上', order_up_admin_product_path(product), class: "btn btn-secondary", method: :post
          = link_to '一つ下', order_down_admin_product_path(product), class: "btn btn-secondary", method: :post
          = link_to '最も上', order_top_admin_product_path(product), class: "btn btn-secondary", method: :post
          = link_to '最も下', order_bottom_admin_product_path(product), class: "btn btn-secondary", method: :post

%br

= link_to "商品を追加", new_admin_product_path, class: "btn btn-secondary"