%h1 商品一覧

%table
  %thead
    %tr
      %th Name
      %th Price
      %th

  %tbody
    - @products.each do |product|
      %tr
        %td
          = link_to product.name, [:admin, product]
        %td
          = product.price
        %td
          = link_to '変更', edit_admin_product_path(product)
          = link_to '削除', [:admin, product], method: :delete,
            data: { confirm: "本当に削除しますか？" }

%br

= link_to "商品を追加", new_admin_product_path