= content_for(:html_title) { '商品' }

.row
  %h2.title= @product.name

.row
  .col-md-6
    .shadow-sm.rounded.bg-white.p-2
      - if @product.image_url.presence
        = image_tag @product.image_url
      - else
        %p イメージはありません

  .col-md-6
    .shadow-sm.rounded.bg-white.p-2
      %p= @product.description
      %p
        = number_to_currency @product.price

      - if current_user
        = button_to 'カートに入れる', add_cart_product_path(@product), |
          class: "btn btn-primary"
